body{
  overflow: scroll !important;
}

.Times New Roman{
	font-family:'Lobster', cursive; ;
}

#porEject{

  position: absolute;
  top:  620px;
  left: 150px;
	border: 1px solid #C6C1F2;
	width: 350px;
	height: 110px;

}

.tabl{
	float: left;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 31px;
	}

.procesador {
  float: left;
	overflow: hidden;
  position: absolute;
  width: 558px;
  height: 265px;
  top:  -30px;
  left: 810px;
}

.procesador2 {
  float: left;
	overflow: hidden;
  position: absolute;
  width: 558px;
  height: 265px;
  top:  235px;
  left: 810px;
}

.procesador3 {
  float: left;
	overflow: hidden;
  position: absolute;
  width: 558px;
  height: 265px;
  top:  495px;
  left: 810px;
}


#CanvasGame{
  position: absolute;
  top:  0px;
  left: 0px;
  border: 5px solid black;
}


/*azul---------------------------------------------------*/
.cola31{
  float: left;
	position: relative;
	overflow: scroll;
	width: 25%;
	height: 165px;
	background:#C6C1F2;
}
.cola21{
  float: left;
	position: relative;
	overflow: scroll;
	width: 25%;
	height: 165px;
	background:#8E82F9;
}
.cola11{
  float: left;
	position: relative;
	overflow: scroll;
	width: 25%;
	height: 165px;
	background:#C6C1F2;
}

.cola1{
  float: left;
	position: relative;
	overflow: scroll;
	width: 25%;
	height: 165px;
	background:#8E82F9;
}

/*roja---------------------------------------------------------*/
.cola32{
	float: left;
	position: relative;
	overflow: scroll;
	width: 25%;
	height: 165px;
	background:#F7BEBE;
}
.cola22{
	float: left;
	position: relative;
	overflow: scroll;
	width: 25%;
	height: 165px;
	background:#F78181;
}
.cola12{
	float: left;
	position: relative;
	overflow: scroll;
	width: 25%;
	height: 165px;
	background:#F7BEBE;
}

.cola2{
	float: left;
	position: relative;
	overflow: scroll;
	width: 25%;
	height: 165px;
	background:#F78181;
}

/*verde-------------------------------------------*/

.cola33{
  float: left;
	position: relative;
	overflow: scroll;
	width: 25%;
	height: 165px;
	background:#C2F7BE;
}
.cola23{
  float: left;
	position: relative;
	overflow: scroll;
	width: 25%;
	height: 165px;
	background:#84EF7D;
}
.cola13{
  float: left;
	position: relative;
	overflow: scroll;
	width: 25%;
	height: 165px;
	background:#C2F7BE;
}

.cola3{
  float: left;
	position: relative;
	overflow: scroll;
	width: 25%;
	height: 165px;
	background:#84EF7D;
}


/*----------------------------------------------------------*/

#col1 {
	float:left;
	width:21%;
	position:relative;
	left:9%;
	overflow:hidden;
}
#col2 {
	float:left;
	width:21%;
	position:relative;
	left:9%;
	overflow:hidden;
}
#col3 {
	float:left;
	width:21%;
	position:relative;
	left:12%;
	overflow:hidden;
}
#col4 {
	float:left;
	width:21%;
	position:relative;
	left:15%;
	overflow:hidden;
}

#CreadorRecur{
  position: absolute;
  top:  620px;
  left: 20px;
}


#BombaAzul{
  position: absolute;
  top:  620px;
  left: 530px;

}
#BombaRoja{

  position: absolute;
  top:  620px;
  left: 630px;
}
#BombaVerde{
  position: absolute;
  top:  620px;
  left: 730px;

}
#FuegoAzul{

  position: absolute;
  top:  650px;
  left: 530px;
}
#FuegoRojo{

  position: absolute;
  top:  650px;
  left: 630px;
}
#FuegoVerde{
  position: absolute;
  top:  650px;
  left: 730px;

}

#PolvoAzul{

  position: absolute;
  top:  680px;
  left: 530px;
}
#PolvoRojo{

  position: absolute;
  top:  680px;
  left: 630px;
}
#PolvoVerde{
  position: absolute;
  top:  680px;
  left: 730px;

}
